<!-- Header Start -->
<div class="container-fluid">
    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a href="/" class="text-decoration-none">
                <h1 class="m-0 display-5 text-center font-weight-semi-bold"><span
                        class="text-primary font-weight-bold border px-3 mr-1">D</span>Shop</h1>
            </a>
        </div>
        <div class="col-lg-5 col-6 text-left">
            <form action="/shop" method="get">
                <div class="input-group">
                    <input type="text" name="tukhoa" class="form-control" placeholder="Tìm kiếm sản phẩm">
                    <div class="input-group-append">
                        <button class="input-group-text bg-dark text-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 d-flex col-6 text-right">
            <div class="d-flex py-0">
                <% if(username){ %>
                    <div class="xinchao_user">
                        <div>
                            <p>Xin chào <b>
                                    <%= username %>
                                </b></p>
                        </div>
                        <% if(rule==="admin" ) { %>
                            <a href="/admin/">Trang Admin</a>
                            <% } %>
                                <a href="/logout">Đăng xuất</a>
                    </div>
                    <% } else { %>
                        <div class="login-register">
                            <a href="/login" class="nav-item nav-link login">Đăng nhập</a>
                            <a href="/register" class="nav-item nav-link register">Đăng ký</a>
                        </div>
                        <% } %>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->